div.
    Your ChatMastery password was changed.

    If you made this change, you don't need to do anything more.
    You can use your new password the next time you login.

    Please do not reply to this email.