div.wrapper
    div.card
        h1 Password Reset
        p If you've lost your password or wish to reset it, use th link below to get started.

        a(href=url) Reset Your Password

        p If you did not request password reset, you can safely ignore this email. Only a person with access to your email can reset your account password.

style.
    .wrapper {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f6f6f6;
    }

    .card {
        width: 500px;
        background: #fff;
        height: 315px;
        padding: 32px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    }

    h1 {
        color: #292929;
    }

    a {
        background: #009ef7;
        padding: 12px;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        margin: 20px 0;
    }

    p {
        color: #292929;
        padding: 0 32px;
        text-align: center;
    }